body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0 120px;
  padding: 0 120px;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 28px;
  color: #333;
}

#ratio-input{
  margin-left: 15px;
  width: 225px;
}

#max-dist-input{
  margin-left: 15px;
  width: 170px;
}

.slider-container {
  display: flex;
  align-items: center;
  width: 100cm;
  margin-top: 15px;
  margin-bottom: 20px;
}

.row {
  margin-top: 30px;
}

.img-fluid {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.img-fluid:hover {
  transform: scale(1.05);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #007bff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #007bff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background-color: #007bff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background-color: #ddd;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

input[type="range"]::-moz-range-track {
  height: 8px;
  background-color: #ddd;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

input[type="range"]::-ms-track {
  height: 8px;
  background-color: #ddd;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background-color: #0056b3;
}

input[type="range"]:hover::-moz-range-thumb {
  background-color: #0056b3;
}

input[type="range"]:hover::-ms-thumb {
  background-color: #0056b3;
}

input[type="range"]:hover::-webkit-slider-runnable-track {
  background-color: #bbb;
}

input[type="range"]:hover::-moz-range-track {
  background-color: #bbb;
}

input[type="range"]:hover::-ms-track {
  background-color: #bbb;
}

.bordered-row {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.custom-file {
  width: 300px;
}

.custom-file-input {
  cursor: pointer;
}

.custom-file-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rounded {
  border-radius: 5px;
}